.Muicard-root {
  padding: 10px;
  background-color: aliceblue;
}
@media only screen and (max-width: 1024px) {
  .launch-card {
    height: 260px !important;
    width: 100% !important;
  }

  .card-image {
    width: 100% !important;
    min-width: 20% !important;
    max-width: 20% !important;
  }
}
